
<table class="table">
		<tr>
			<td><%= entry.title %></td>
			<td><%= entry.body %></td>
		</tr>
</table>

<p>
	<%= link_to 'Edit', edit_blog_entry_path(entry.blog, entry) %> 
  	<%= link_to 'DELETE', [entry.blog, entry],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>