
<table class="table">
	
		<tr>
			<td><%= entry.title %></td>
			<td><%= entry.body %></td>
		</tr>
</table>

<p>
  <%= link_to 'Destroy Comment', [entry.blog, entry],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>